<ion-tabs>
  <ion-tab-bar slot="bottom" class="fitsync-tabs">

    <ion-tab-button tab="home" class="fitsync-tab">
      <ion-icon name="home"></ion-icon>
      <ion-label class="label-small">Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista" class="fitsync-tab">
      <ion-icon name="library"></ion-icon>
      <ion-label class="label-small">Exercícios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="workout-management" class="fitsync-tab">
      <ion-icon name="barbell"></ion-icon>
      <ion-label class="personality-playful">Treinar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="workout-progress" class="fitsync-tab">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label class="personality-playful">Progresso</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard" class="fitsync-tab">
      <ion-icon name="person"></ion-icon>
      <ion-label class="personality-playful">Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
