<ion-tabs>
  <ion-tab-bar slot="bottom" class="fitsync-tabs">
    
    <ion-tab-button tab="home" class="fitsync-tab">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista" class="fitsync-tab">
      <ion-icon name="library"></ion-icon>
      <ion-label>Exercícios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="detalhe" class="fitsync-tab">
      <ion-icon name="barbell"></ion-icon>
      <ion-label>Treinar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progresso" class="fitsync-tab">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>Progresso</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard" class="fitsync-tab">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
