<ion-tabs>
  <ion-tab-bar slot="bottom" class="fitsync-tabs">
    
    <ion-tab-button tab="home" class="fitsync-tab">
      <div class="icon-container icon-container-sm icon-container-primary">
        <ion-icon name="home" class="icon icon-sm"></ion-icon>
      </div>
      <ion-label class="label-small">Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista" class="fitsync-tab">
      <div class="icon-container icon-container-sm icon-container-secondary">
        <ion-icon name="library" class="icon icon-sm"></ion-icon>
      </div>
      <ion-label class="label-small">Exercícios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="detalhe" class="fitsync-tab">
      <div class="icon-container icon-container-sm icon-container-accent">
        <ion-icon name="barbell" class="icon icon-sm"></ion-icon>
      </div>
      <ion-label class="personality-playful">Treinar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progresso" class="fitsync-tab">
      <div class="icon-container icon-container-sm icon-container-success">
        <ion-icon name="trending-up" class="icon icon-sm"></ion-icon>
      </div>
      <ion-label class="personality-playful">Progresso</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard" class="fitsync-tab">
      <div class="icon-container icon-container-sm icon-container-warning">
        <ion-icon name="person" class="icon icon-sm"></ion-icon>
      </div>
      <ion-label class="personality-playful">Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
